In [1]:
import pandas as pd
import numpy as np

data = pd.read_csv("training_titanic_x_y_train.csv",delimiter=',')
X_test = pd.read_csv("test_titanic_x_test.csv",delimiter=',')
data.Age.fillna(data.Age.mean(),inplace=True)
data.drop('Name',axis=1,inplace=True)
data.drop('Ticket',axis=1,inplace=True)
data.drop('Cabin',axis=1,inplace=True)
data.drop('Embarked',axis=1,inplace=True)


X_test.Age.fillna(X_test.Age.mean(),inplace=True)
X_test.drop('Name',axis=1,inplace=True)
X_test.drop('Ticket',axis=1,inplace=True)
X_test.drop('Embarked',axis=1,inplace=True)
X_test.drop('Cabin',axis=1,inplace=True)
X_train = data.iloc[:,:-1]
y_train = data.iloc[:,data.shape[1]-1]
# data.Cabin.describe()
# X_train["Cabin"] = X_train.Cabin.fillna('G6')
# X_test["Cabin"] = X_test.Cabin.fillna('G6')
data

     Pclass     Sex       Age  SibSp  Parch     Fare  Survived
0         2  female  29.00000      1      0  26.0000         1
1         3    male  29.70056      0      0   8.0500         0
2         2    male  39.00000      0      0  26.0000         0
3         3  female  29.00000      0      4  21.0750         0
4         3    male  25.00000      0      0   7.0500         0
..      ...     ...       ...    ...    ...      ...       ...
663       2  female  17.00000      0      0  10.5000         1
664       3    male  29.70056      0      0   7.7500         0
665       3    male  32.00000      0      0  56.4958         1
666       3  female  22.00000      0      0   9.8375         0
667       3  female  29.70056      1      0  15.5000         1

[668 rows x 7 columns]

In [2]:
# X_train["Sex"] = X_train["Sex"].map({"male": 0, "female": 1})
def f(s):
    if s=="male":
        return 1
    else:
        return 0
    
def func(s):
    if s=='S':
        return 0
    elif s=='C':
        return 1
    else:
        return 2
X_train["Sex"] = X_train.Sex.apply(f)

X_test["Sex"] = X_test.Sex.apply(f)
# X_test.Embarked.describe()
X_train

     Pclass  Sex       Age  SibSp  Parch     Fare
0         2    0  29.00000      1      0  26.0000
1         3    1  29.70056      0      0   8.0500
2         2    1  39.00000      0      0  26.0000
3         3    0  29.00000      0      4  21.0750
4         3    1  25.00000      0      0   7.0500
..      ...  ...       ...    ...    ...      ...
663       2    0  17.00000      0      0  10.5000
664       3    1  29.70056      0      0   7.7500
665       3    1  32.00000      0      0  56.4958
666       3    0  22.00000      0      0   9.8375
667       3    0  29.70056      1      0  15.5000

[668 rows x 6 columns]

In [3]:
y_train.values

array([1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0,
       1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1,
       0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0,
       0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1,
       0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0,
       1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1,
       1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0,
       1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1,
       1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0,
       1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0,
       0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0,
       0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1,
       1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0,
       0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1,
       1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1,
       1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0,
       1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1,
       0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0,
       1, 1, 0, 1, 0, 1, 0, 1], dtype=int64)

In [4]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [5]:

y_pred = model.predict(X_test)
print(y_pred)
np.savetxt("y_pred_titanic_survival.csv",y_pred)

[0 1 0 1 0 0 0 0 1 0 1 0 1 1 0 0 0 0 0 1 1 0 1 1 0 1 0 0 1 1 0 0 0 0 0 1 1
 0 0 0 1 0 0 0 1 1 0 1 0 0 0 1 1 1 0 0 0 0 0 0 0 0 1 1 1 0 0 1 1 0 0 0 1 0
 0 1 1 0 0 0 0 1 0 0 0 1 1 1 0 0 1 0 0 1 0 0 0 0 0 1 1 0 1 0 1 1 0 0 0 0 0
 1 1 0 1 0 0 1 0 0 0 0 0 0 1 0 0 0 0 1 0 0 0 0 0 0 1 1 1 0 0 0 0 0 0 0 0 0
 1 1 1 0 0 0 1 0 0 1 0 0 0 1 1 1 1 0 1 0 1 1 1 1 1 0 1 0 0 0 0 1 0 0 0 1 1
 0 1 0 1 0 0 0 1 0 0 1 1 1 1 1 0 1 0 0 0 0 0 0 1 1 0 1 0 0 1 1 0 0 0 0 1 0
 0]

In [6]:
from sklearn.metrics import classification_report
y_train_pred = model.predict(X_train)
print(classification_report(y_train_pred,y_train))
from sklearn.metrics import confusion_matrix
confusion_matrix(y_train_pred,y_train)

              precision    recall  f1-score   support

           0       0.84      0.81      0.82       418
           1       0.70      0.75      0.72       250

    accuracy                           0.79       668
   macro avg       0.77      0.78      0.77       668
weighted avg       0.79      0.79      0.79       668

array([[337,  81],
       [ 62, 188]], dtype=int64)